.ui-widget-header {
	background: none !important;
	background-color: rgba(207, 230, 193, 0.75);
}

body {
	width: unset;
	max-width: unset;
}

body > header {
	position: relative;
	background-color: rgba(207, 230, 193, 0.35) !important;
	height: 141px !important;
	display: flex !important; 
	flex-flow: row nowrap !important;
	align-items: center !important;
	justify-content: space-between !important;
	border-bottom: none !important;
}

body > *:not(header) {
	max-width: 69em !important;
	width: 96% !important;
	margin: auto !important;
}

body > header::before {
	content: "";
	background-image: url(flatt_fjell.svg);
	width: 100%;
	height: 100%;
	bottom: 0;
	position: absolute;
	pointer-events: none;
}

aside * {
	color: black !important;
}

aside, .logo {
	position: unset !important;
	margin: 20px;
}

#select-service > li {
	background: unset !important;
	border-radius: 0 !important;
	border: 5px solid #003d77;
	margin: 12px !important;
	padding: 16px !important;
	display: flex !important;
	flex-flow: row nowrap !important;
	align-items: center !important;
	justify-content: space-between !important;
	height: unset !important;
	float: unset !important;
}

#select-service > li > * {
	position: unset !important;
	float: unset !important;
	top: unset !important;
	right: unset !important;
	padding: 0 !important;
	width: unset !important;
}
#select-service > li > *:first-child {
  	flex-grow: 1;
  	text-align: center;
}
.main {
	background-color: rgba(207, 230, 193, 0.35) !important;
	border-radius: 0 !important;
}
button, .button-previous {
	border-radius: 0px !important;
	background: unset !important;
	color: black !important;
	text-shadow: none !important;
	margin: 8px !important;
	padding: 8px !important;
	float: unset !important;
	height: unset !important;
}

.button-previous > *, button > * {
	background: unset !important;
	position: unset !important;
	padding: unset !important;
	margin: auto !important;
	font-size: 14px;
	height: unset !important;
	text-transform: none !important;
	line-height: 42px !important;
}
#step-up{
	margin: unset !important;
	text-align: unset !important;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

button {
	border: 5px solid #003d77 !important;
}
.button-previous {
	border: 5px solid #f0ece6 !important;
}
.datebutton {
	border: none !important;
}